{% extends 'base.html.twig' %}

{% block title %}New Amenity{% endblock %}

{% block body %}
    <h1>Create new Amenity</h1>

    {{ include('amenity/_form.html.twig') }}

    <a href="{{ path('amenity_index') }}">back to list</a>
{% endblock %}
